{% extends 'base.html' %}
{% load static %}
{% block content %}
      <main role= "main" class="col-md-9 ml-sm-auto col-lg-10 px-md-4">
        <div
          class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
          <h1 class="h2">Dashboard</h1>
          <div class="btn-toolbar mb-2 mb-md-0">
            <div class="btn-group mr-2">
              <button type="button" class="btn btn-sm btn-outline-secondary">Share</button>
              <button type="button" class="btn btn-sm btn-outline-secondary">Export</button>
            </div>
            <button type="button" class="btn btn-sm btn-outline-secondary dropdown-toggle">
              <span data-feather="calendar"></span>
              This week
            </button>
          </div>
        </div>
        <!-- dashboard part -->
        <div class="row">
          <div class="col-lg-6 col-md-6 col-sm-6">
            <div class="card m-2 btn-light" style="width: 18rem;">
              <div class="card-body">
                <h5 class="card-title">1st Year</h5>
                <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                <a href="#" class="btn btn-success">View Details</a>
              </div>
            </div>
          </div>
          <div class="col-lg-6 col-md-6 col-sm-6">
            <div class="card m-2 btn-light" style="width: 18rem;">
              <div class="card-body">
                <h5 class="card-title">2nd Year</h5>
                <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                <a href="#" class="btn btn-success">View Details</a>
              </div>
            </div>
          </div>
          <div class="col-lg-6 col-md-6 col-sm-6">
            <div class="card m-2 btn-light" style="width: 18rem;">
              <div class="card-body">
                <h5 class="card-title">3rd Year</h5>
                <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                <a href="#" class="btn btn-success">View Details</a>
              </div>
            </div>
          </div>
          <div class="col-lg-6 col-md-6 col-sm-6">
            <div class="card m-2 btn-light" style="width: 18rem;">
              <div class="card-body">
                <h5 class="card-title">4th Year</h5>
                <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                <a href="#" class="btn btn-success">View Details</a>
              </div>
            </div>
          </div>
        </div>
      </main>
{% endblock %}